html,
body,
button {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #1f1d2e;
  color: #e0def4;
  scroll-behavior: smooth;
  user-select: none;
}

a {
  color: inherit;
  text-decoration: none;
  color: #31748f;
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
  color: #9ccfd8;
  transition: color 0.5s ease;
}

* {
  box-sizing: border-box;
}
